# Executáveis e Arquivos Objetos
*.o
*.exe
*.out
*.app
*.xml
*.iml

# Arquivos/Pastas do PyCharm/VSCode
.idea/
__pycache__/
.vscode
venv

# Arquivos/Pastas locais
Testes/
weights/
experiments/models
experiments/policies
pylintrc